{% extends "::base.html.twig" %}

{% block title "Homepage!" %}

{% block body %}
    <div class="starter-template">
        <h1>Homepage</h1>

        <p class="lead">Your basic Symfony project</p>
    </div>

    <div class="row">...</div>
{% endblock %}
