{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product edit</h1>

        {{ include('AcmeProductBundle:Product:_form.html.twig') }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
